


<footer class="footer">
	<div class="table-rating">
		<div class="yelp-group">
			<div class="yelp-price">
				<ul>5 out of 7</ul>
			</div>
			<div class="yelp-rating">
				<ul>2 out of 3</ul>
			</div>
		</div>
	</div>
	<div class="buttons">
		<button type="button" class="btn button-yelp button-circle"><img src="https://raw.githubusercontent.com/haeol/Restaurant-Roulette/gh-pages/img/yelp_icon.png"></button>
		<button type="button" class="btn button-google button-circle"><i class="glyphicon glyphicon-globe"></i></button>
		<button type="button" class="btn button-retry button-circle"><i class="glyphicon glyphicon-remove"></i></button>
	</div>
		<!--
		<div class="buttons-left">
			<div class="buttons-left">
				<div class="button-circle">Y</div>
			</div>
			<div class="buttons-right">
				<div class="button-google">google</div>
			</div>
		</div>
		<div class="buttons-right">
			<div class="button-retry"> Try Again! </div>
		</div>
		-->
</footer>
