    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center prompt">
                <h3>Can't decide where to eat?</h3>
            </div>
        </div>
        <!-- /.row -->
	    <div class="row">
	        <div class="input input-loc">
	          	<input type="text" class="form-control" placeholder="Enter Location">
	        </div><!-- /input-group -->
	    </div>

	    <div class="row">
	        <div class="input input-loc">
	          	<input type="text" class="form-control" placeholder="Enter Distance in Miles">
	        </div><!-- /input-group -->
	    </div>
    </div>

    <div class="wrapper-go">
		<a href="#/app/">
			<button type="button" class="btn btn-default btn-go" id="btn-go">Go!</button>
		</a>
    </div>
